langchain>=0.1.0
langchain-core>=0.1.0
langchain-community>=0.0.19
langgraph>=0.0.26
langchain-huggingface>=0.1.2
sentence-transformers>=2.2.2
faiss-cpu>=1.7.4              
pypdf>=4.0.0                  
jupyter>=1.0.0                
python-dotenv>=1.0.0